<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504369739440-9q0jcvlj05nqokbfml6mectpu65sfnqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504369739440-9q0jcvlj05nqokbfml6mectpu65sfnqt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>504369739440-7igsgc7vu7i2gpp2om0147ubftqddtua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbwtidfH8x8zRX3mbcNIH6d_R5s3UKIL4</string>
	<key>GCM_SENDER_ID</key>
	<string>504369739440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viviendoenusa.expofront</string>
	<key>PROJECT_ID</key>
	<string>viviendoenusaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>viviendoenusaapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504369739440:ios:7640d562bf03aa7ed9ad75</string>
</dict>
</plist>